.smallBanner {
  width: 85vw;
  height: 400px;
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.imagePlaceholder {
  width: 100%;
  height: 100%;
  background-image: url('../../assets/TESTDRIVE.jpg');
  background-repeat: no-repeat; /* Evita la repetición de la imagen */
  background-size: cover; /* Hace que la imagen cubra todo el contenedor sin distorsionarse */
  position: relative;
}

.imagePlaceholder button {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  left: 10px;
  transition: background 0.3s ease-in-out;
}

.imagePlaceholder button:hover {
  background-color: #cc0000;
}

@media (max-width: 768px) {
  .smallBanner {
    height: 300px; /* Reducir altura para pantallas más pequeñas */
  }

  .imagePlaceholder button {
    padding: 8px 16px; /* Reducir padding del botón */
    font-size: 0.9rem; /* Reducir tamaño de la fuente */
    bottom: 8px; /* Ajustar la posición del botón */
    left: 8px; /* Ajustar la posición del botón */
  }
}
