.imagesCard {
  width: 300px;
  height: 400px;
  background-color: rgb(0, 0, 0); /* Simulación de imagen */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.imagePlaceholder {
  width: 100%;
  height: 250px;
  background-color: #aaa; /* Color para simular la imagen */
  border-radius: 5px;
}

.cardTitle {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.viewMore {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border: none;
  padding: 10px 15px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.viewMore:hover {
  background-color: #d0c2c2;
}

/* Haciendo responsive */
@media (max-width: 1024px) {
  .imagesCard {
    width: 45%; /* Ajusta el ancho para pantallas más pequeñas */
    margin-bottom: 20px; /* Agrega espacio entre las tarjetas */
  }
}

@media (max-width: 768px) {
  .imagesCard {
    width: 100%; /* Ajusta el ancho a 100% para pantallas móviles */
    height: auto; /* Hace que la altura sea dinámica */
  }

  .cardTitle {
    font-size: 1.25rem; /* Reduce el tamaño del título */
  }

  .viewMore {
    font-size: 0.9rem; /* Reduce el tamaño del texto del botón */
    padding: 8px 12px; /* Reduce el padding del botón */
  }
}
