.cardsContainer {
  width: 85vw;
    background-color: #ffffff;
    padding: 40px 20px;
    color: white;
    text-align: center;
  }
  
  .titleContainer {
    margin-bottom: 20px;
    text-align: left;
  }

  .titleContainer h2 {
    color: black;
    font-size: larger
  }
  
  
  .carousel {
    display: flex;
    justify-content: center;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding-bottom: 20px;
  }
  
