.homeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  min-height: 100vh;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 20px;
}

@media (max-width: 768px) {
  .homeContainer {
    padding: 15px; /* Reducción de padding en pantallas pequeñas */
    gap: 20px;     /* Menor espacio entre los elementos */
  }
}
