.container {
  background-color: black;
  padding: 2rem;
  color: white;
  width: 85vw; /* Hace que ocupe el 85% del ancho de la pantalla */
}

  
  .sections {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
  }
  
  .section {
    text-align: center;
    flex: 1;
  }
  
  .iconContainer {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 0 auto 1rem;
  }
  
  .button {
    background-color: #FF5733;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
  }
  
  .addresses {
    font-size: 0.9rem;
    color: #ccc;
  }
  