.Banner-container {
    margin-top: 40px;
    width: 100vw;
    height: 250px;
    background-color: rgb(249, 116, 7);
    background-image: url('../../assets/ENAMORATE.jpg'); /* Ruta relativa */
    background-size: cover; 
    background-position: center; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
  .Banner-container {
    height: 200px; /* Menor altura en pantallas pequeñas */
    margin-top: 20px; /* Espacio superior reducido */
  }
}
